<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppTitle</key>
	<string>App Auto-Patch</string>
	<key>ConvertAppsInHomeFolder</key>
	<string>TRUE</string>
	<key>DaysUntilReset</key>
	<integer>7</integer>
	<key>DeadlineCountFocus</key>
	<integer>3</integer>
	<key>DeadlineCountHard</key>
	<integer>3</integer>
	<key>DeadlineDaysFocus</key>
	<integer>3</integer>
	<key>DeadlineDaysHard</key>
	<integer>3</integer>
	<key>DeferralTimerDefault</key>
	<integer>1440</integer>
	<key>DeferralTimerError</key>
	<integer>60</integer>
	<key>DeferralTimerFocus</key>
	<integer>60</integer>
	<key>DeferralTimerMenu</key>
	<string>15,60,240,1440</string>
	<key>DeferralTimerWorkflowRelaunch</key>
	<integer>1440</integer>
	<key>DialogOnTop</key>
	<string>TRUE</string>
	<key>DialogTimeoutDeferral</key>
	<integer>300</integer>
	<key>DialogTimeoutDeferralAction</key>
	<string>Defer</string>
	<key>IgnoreAppsInHomeFolder</key>
	<string>FALSE</string>
	<key>IgnoredLabels</key>
	<string>1password* androidstudio microsoft*</string>
	<key>InstallomatorOptions</key>
	<string>BLOCKING_PROCESS_ACTION=quit_kill NOTIFY=silent LOGO=appstore IGNORE_APP_STORE_APPS=yes</string>
	<key>InstallomatorVersion</key>
	<string>Main</string>
	<key>InteractiveMode</key>
	<integer>1</integer>
	<key>OptionalLabels</key>
	<string>iTerm2  imazingprofileeditor</string>
	<key>PatchWeekStartDay</key>
	<integer>2</integer>
	<key>RemoveInstallomatorPath</key>
	<string>FALSE</string>
	<key>RequiredLabels</key>
	<string>googlechromepkg homebrew</string>
	<key>SupportTeamEmail</key>
	<string>support@company.com</string>
	<key>SupportTeamName</key>
	<string>Support Team Name</string>
	<key>SupportTeamPhone</key>
	<string>888-867-5309</string>
	<key>SupportTeamWebsite</key>
	<string>www.company.com</string>
	<key>UnattendedExit</key>
	<string>TRUE</string>
	<key>UnattendedExitSeconds</key>
	<integer>60</integer>
	<key>UseOverlayIcon</key>
	<string>TRUE</string>
	<key>WebhookFeature</key>
	<string>FAILURES</string>
	<key>WebhookURLSlack</key>
	<string>https://webhook.slack.com</string>
	<key>WebhookURLTeams</key>
	<string>https://webhook.microsoft.com</string>
	<key>WorkflowDisableAppDiscovery</key>
	<false/>
	<key>WorkflowDisableRelaunch</key>
	<false/>
	<key>WorkflowInstallNowPatchingStatusAction</key>
	<string>SUCCESS</string>
</dict>
</plist>
